body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.back {
  border: blue 2px solid;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: blue;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  border: 2px solid black;
  gap: 2px;
  height: 70vh;
}
.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-shrink: 1;
}
.grid button {
  border: blue 2px solid;
  padding: 1.2rem;
  margin-right: 1rem;
  color: blue;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
}
.grid button:hover {
  padding: 1.3rem;

  margin-right: 1rem;
  color: white;
  background-color: blue;
  border-radius: 14px;
}

.grid .h {
  background-color: rgba(234, 236, 255, 1);
}
.doneResult {
  display: none;
}
